html {
  background-color: #F6F7FB;
  font-size: 14px;
  font-family: 'Noto Sans TC';
}

button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  line-height: inherit;
  width: max-content;
}

button:after {
  border: none;
}

.second_title {
  font-weight: 700;
  margin: 0;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}