.activities_card {
  // width: 522px;
  height: 228px;
  background-color: #FFF;
  position: relative;
  
  &:before, &:after {
    content: '';
    width: 100%;
    max-width: 180px;
    position: absolute;
    top: 50%;
    bottom: 15px;
    z-index: -1;
    -webkit-box-shadow: 0 20px 20px #0D0B0C;
    -moz-box-shadow: 0 20px 20px #0D0B0C;
    box-shadow: 0 20px 20px #0D0B0C;
    opacity: 0.3;
  }
  &:before{
    left: 10px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg); 
  }
  &:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

.btn_custom.btn {
  border-radius: 8px;
  padding: 8px 25px;
}

.activities_img_size {
  width: 187px;
  height: 196px;
  .activities_img {
    max-width: 100%;
    max-height: 100%;
  }
}

.map_img_size {
  width: 16px;
  height: 19.56px;
  .map_img {
    max-width: 100%;
    max-height: 100%;
  }
}
.active_grid {
  display: grid;
  grid-row-gap: 48px;
  grid-column-gap: 21px;
  grid-template-columns: 1fr 1fr;
}

.active_grid2 {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 2fr;
}

.text_overflow_ellipsis{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_overflow_ellipsis_location{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   max-width: 88px;
}
